<% layout('layout/boilerplate.ejs') %>

<h3>The Home Page</h3>
<p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui omnis saepe blanditiis, delectus sit consectetur doloremque eligendi nam eius deleniti architecto alias obcaecati exercitationem rerum amet optio id nesciunt molestiae.
Qui voluptate, quam vel suscipit ipsum odio quia deserunt. In nisi cum deserunt voluptatibus! Odit eius corrupti facere. Quod placeat praesentium harum aspernatur eligendi, nam exercitationem totam dolor! Debitis, sequi?
Odio inventore sed sint, magni maiores tenetur minima tempore? Quo, vero velit? Amet facere quam natus porro, cupiditate similique error unde! Cum fugit error tempore nam veniam voluptatibus! Assumenda, numquam.
Aliquid illum recusandae quae doloremque est laudantium quos sapiente perspiciatis illo, quo facilis ex eos error? Laboriosam quisquam similique eius possimus recusandae ex delectus. Illo deleniti vitae natus doloribus illum?
Quidem reprehenderit dolorum fuga sapiente obcaecati sit ducimus aperiam quia nulla reiciendis corporis rerum, non iusto, cumque, laborum accusantium rem facere minus tenetur ipsa totam maxime magni eligendi. Explicabo, eligendi.
</p>